<nav class="sidebar-nav">
  <div class="nav-site-title">
    <a href="{{ '/' | relative_url }}">ジョブリスティング<br>実践ノウハウ</a>
  </div>

  <div class="nav-search">
    <input type="text" id="search-input" placeholder="検索..." autocomplete="off">
    <ul id="search-results"></ul>
  </div>

  <div class="nav-section">
    <ul>
      <li class="nav-year">前提</li>
      <li><a href="{{ '/9ステップメソッド/スキル習得' | relative_url }}">・スキル習得</a></li>
      <li><a href="{{ '/9ステップメソッド/仮説思考' | relative_url }}">・仮説思考</a></li>
      <li class="nav-year">Plan</li>
      <li><a href="{{ '/9ステップメソッド/キーワードリサーチ' | relative_url }}">・Step1 キーワードリサーチ</a></li>
      <li><a href="{{ '/9ステップメソッド/競合リサーチ' | relative_url }}">・Step2 競合リサーチ</a></li>
      <li><a href="{{ '/9ステップメソッド/自社リサーチ' | relative_url }}">・Step3 自社リサーチ</a></li>
      <li><a href="{{ '/9ステップメソッド/ポジショニング' | relative_url }}">・Step4 ポジショニング</a></li>
      <li><a href="{{ '/9ステップメソッド/スタッフインタビュー' | relative_url }}">・Step5 スタッフインタビュー</a></li>
      <li class="nav-year">Do</li>
      <li><a href="{{ '/9ステップメソッド/コピーライティング' | relative_url }}">・Step6 コピーライティング</a></li>
      <li><a href="{{ '/9ステップメソッド/デザイン' | relative_url }}">・Step7 デザイン</a></li>
      <li><a href="{{ '/9ステップメソッド/リスティング広告' | relative_url }}">・Step8 リスティング広告</a></li>
      <li class="nav-year">Check / Act</li>
      <li><a href="{{ '/9ステップメソッド/改善' | relative_url }}">・Step9 改善</a></li>
      <li class="nav-year">応用</li>
      <li><a href="{{ '/テスト出稿メソッド/' | relative_url }}">・テスト出稿メソッド</a></li>
      <li class="nav-sub"><a href="{{ '/テスト出稿メソッド/01-戦略概要' | relative_url }}">　01 戦略概要</a></li>
      <li class="nav-sub"><a href="{{ '/テスト出稿メソッド/02-プランニング' | relative_url }}">　02 広告プランニング</a></li>
      <li class="nav-sub"><a href="{{ '/テスト出稿メソッド/03-アカウント開設' | relative_url }}">　03 アカウント開設</a></li>
      <li class="nav-sub"><a href="{{ '/テスト出稿メソッド/04-出稿フロー' | relative_url }}">　04 実践出稿フロー</a></li>
      <li class="nav-sub"><a href="{{ '/テスト出稿メソッド/05-詳細設定' | relative_url }}">　05 詳細設定</a></li>
      <li class="nav-sub"><a href="{{ '/テスト出稿メソッド/06-データ分析' | relative_url }}">　06 データ分析</a></li>
      <li class="nav-sub"><a href="{{ '/テスト出稿メソッド/07-終了判断' | relative_url }}">　07 終了判断</a></li>
      <li class="nav-sub"><a href="{{ '/テスト出稿メソッド/08-事例-製造業' | relative_url }}">　08 事例①製造業</a></li>
      <li class="nav-sub"><a href="{{ '/テスト出稿メソッド/09-事例-看護師' | relative_url }}">　09 事例②看護師</a></li>
      <li><a href="{{ '/ハロワの達人/' | relative_url }}">・ハロワの達人</a></li>
      <li class="nav-sub"><a href="{{ '/ハロワの達人/step1-ターゲット設定' | relative_url }}">　Step1 ターゲット設定</a></li>
      <li class="nav-sub"><a href="{{ '/ハロワの達人/step2-競合リサーチ' | relative_url }}">　Step2 競合リサーチ</a></li>
      <li class="nav-sub"><a href="{{ '/ハロワの達人/step3-自社リサーチ' | relative_url }}">　Step3 自社リサーチ</a></li>
      <li class="nav-sub"><a href="{{ '/ハロワの達人/step4-ポジショニング' | relative_url }}">　Step4 ポジショニング</a></li>
      <li class="nav-sub"><a href="{{ '/ハロワの達人/step5-スタッフインタビュー' | relative_url }}">　Step5 スタッフインタビュー</a></li>
      <li class="nav-sub"><a href="{{ '/ハロワの達人/step6-求人票作成とスカウト' | relative_url }}">　Step6 求人票作成・スカウト</a></li>
      <li class="nav-sub"><a href="{{ '/ハロワの達人/step7-改善と内製化' | relative_url }}">　Step7 改善・内製化</a></li>
    </ul>
  </div>
</nav>
