<nav class="sidebar-nav">
  <div class="nav-site-title">
    <a href="{{ '/' | relative_url }}">スタッフソリューション<br>ノウハウ</a>
  </div>

  <div class="nav-section">
    <div class="nav-section-title">9ステップメソッド</div>
    <ul>
      <li class="nav-year">前提</li>
      <li><a href="{{ '/9ステップメソッド/スキル習得' | relative_url }}">・スキル習得</a></li>
      <li><a href="{{ '/9ステップメソッド/仮説思考' | relative_url }}">・仮説思考</a></li>
      <li><a href="{{ '/9ステップメソッド/ターゲット設定' | relative_url }}">・ターゲット設定</a></li>
      <li class="nav-year">Plan</li>
      <li><a href="{{ '/9ステップメソッド/キーワードリサーチ' | relative_url }}">・Step1 キーワードリサーチ</a></li>
      <li><a href="{{ '/9ステップメソッド/競合リサーチ' | relative_url }}">・Step2 競合リサーチ</a></li>
      <li><a href="{{ '/9ステップメソッド/自社リサーチ' | relative_url }}">・Step3 自社リサーチ</a></li>
      <li><a href="{{ '/9ステップメソッド/ポジショニング' | relative_url }}">・Step4 ポジショニング</a></li>
      <li><a href="{{ '/9ステップメソッド/スタッフインタビュー' | relative_url }}">・Step5 スタッフインタビュー</a></li>
      <li class="nav-year">Do</li>
      <li><a href="{{ '/9ステップメソッド/コピーライティング' | relative_url }}">・Step6 コピーライティング</a></li>
      <li><a href="{{ '/9ステップメソッド/デザイン' | relative_url }}">・Step7 デザイン</a></li>
      <li><a href="{{ '/9ステップメソッド/リスティング広告' | relative_url }}">・Step8 リスティング広告</a></li>
      <li class="nav-year">Check / Act</li>
      <li><a href="{{ '/9ステップメソッド/改善' | relative_url }}">・Step9 改善</a></li>
    </ul>
  </div>
</nav>
